body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../images/treebackground.webp'); /* Adjust the path to go up one level to the project0 folder and then into the images folder */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f0f0f0;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: center;
}


header nav ul {
  list-style: none;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  margin-right: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
}

header h1 {
  font-size: 2.5em; 
  color: #000000; 
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}


main {
  max-width: 800px;
  margin: 20px auto;
}
main h2 {
  color: #3498db;
}
main p {
  line-height: 1.6;
}
main img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

footer {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*tables and ID selector*/ 
#work-experience-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

#work-experience-table th,
#work-experience-table td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

#work-experience-table th {
  background-color: #808080;
}

/* hyperlink colours*/
a {
  color: #4dafff; /* Green color */
  text-decoration: none; /* Remove underline by default, adjust as needed */
}

a:hover {
  color: #008000; /* Darker green color on hover, adjust as needed */
}



/* Class selector */
.white-italic {
  color: #ffffff; 
  font-style: italic; 
}




/* @media query for phone screens */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px; /* Reduced body font size for smaller screens */
  }

  header h1 {
    font-size: 2em; /* Reduced header font size for smaller screens */
  }

  main {
    max-width: 100%; /* Adjusted for full width on smaller screens */
    margin: 10px; /* Reduced margin for smaller screens */
  }

  main h2 {
    font-size: 1.8em; /* Reduced font size for smaller screens */
  }

  main p {
    line-height: 1.4; /* Reduced line height for smaller screens */
  }

}


