$primary-color: #3498db; /* SCSS variable */
$common-text-color: #fff;

%common-text-styles { /* creating for inheritance */
    color: $common-text-color; 
    font-family: 'Arial', sans-serif;
}

body {
    @extend %common-text-styles; /*utilizing inheritance*/
    margin: 0;
    padding: 0;
    background-image: url('../images/treebackground.webp'); /* makes the path to go up one level to the project0 folder and then into the images folder */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0f0f0;
}



header {
    background-color: $primary-color;
    padding: 10px;
    text-align: center;

    @extend %common-text-styles; /* Inherit common text styles */
    
    nav {
        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                margin-right: 10px;

                a {
                    text-decoration: none;
                    @extend %common-text-styles; 
                }
            }
        }
    }
}

main {
    max-width: 800px;
    margin: 20px auto;

    h2 {
        color: $primary-color;
    }

    p {
        line-height: 1.6;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-top: 20px;
    }
}

footer {
    background-color: $primary-color;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

    @extend %common-text-styles; /* Inherit common text styles */
}
